
body {
  font-family:'Times New Roman', Times, serif;
  background-color: #f4f4f4;
  position: relative;
  font-size: 16px;
  line-height: 1.5;
  color: #333132;
  font-weight: 400;
  background-repeat: no-repeat;
  background-position: top;
}
p{
  text-align: justify;
  text-justify: inter-word;
}

.top-banner-action-wrap {
    margin-bottom: 10px;
    position: relative;
    animation: opacity .5s ease;
}

.top-banner-action {
  padding: 7px 10px;
  background: #ffdc1c;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.common-button{
  text-transform: capitalize;
}
